@font-face {
    font-family: 'Onest';
    src: url("../fonts/Onest-Thin.ttf") format("truetype"),
    url("../fonts/Onest-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Onest';
    src: url("../fonts/Onest-Light.ttf") format("truetype"),
    url("../fonts/Onest-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Onest';
    src: url("../fonts/Onest-Regular.ttf") format("truetype"),
    url("../fonts/Onest-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Onest';
    src: url("../fonts/Onest-Medium.ttf") format("truetype"),
    url("../fonts/Onest-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Onest';
    src: url("../fonts/Onest-Bold.ttf") format("truetype"),
    url("../fonts/Onest-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Onest';
    src: url("../fonts/Onest-ExtraBold.ttf") format("truetype"),
    url("../fonts/Onest-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Onest';
    src: url("../fonts/Onest-Black.ttf") format("truetype"),
    url("../fonts/Onest-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}