@import "./vars.scss";

.btn
{
    display: flex;
    padding: 1.4rem 3.2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.5em;
    &-primary
    {
        color: #FFF;
        background: $primary-bg;
        border-radius: 8px;
        border: 1px solid $primary-bg;
        outline: 0;
        &:focus-visible,
        &:hover,
        &:active,
        :not(.btn-check)+&:active,
        &:first-child:active,
        &.active,
        &.show
        {
            border: 1px solid $primary-bg;
            background-color: #FFFFFF !important;
            color: $primary-bg;
        }
    }
}
.form-control
{
    &__wrap
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    padding: 1.4rem;
    border-radius: 8px;
    border: 1px solid $gray;
    background: #F7F7F7;
    color: $gray;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5em;
    &::placeholder
    {
        color: $gray;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5em;
    }
    &__errors
    {
        display: flex;
        flex-direction: column;
        row-gap: 1.6rem;
        &-item
        {
            padding: 10px 0;
            font-size: 1.6rem;
            color: #c21010;
        }
    }
}

@media (max-width: 991px) {
    .btn
    {
        padding: 14px 32px;
        font-size: 16px;
    }
    .form-control
    {
        padding: 14px;
        font-size: 16px;
        &::placeholder
        {
            font-size: 16px;
        }
        &__errors
        {
            &-item
            {
                font-size: 16px;
            }
        }
    }
}

.modalWrap
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.modal-inner
{
    position: relative;
    width: auto;
    max-width: 600px;
    height: auto;
    flex: 0 0 auto;
    background-color: #FFF;
    padding: 4.8rem 3.2rem 3.2rem 3.2rem;
    border-radius: 24px;
}

.modal-close 
{
    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 2.4rem;
    height: 2.4rem;
    background-color: transparent;
    border-radius: 50%;
    appearance: none;
    outline: 0;
    border: 0;
    cursor: pointer;
}
@media (max-width: 1200px) {
    .modal-close
    {
        width: 24px;
        height: 24px;
    }
    .modal-inner
    {
        padding: 40px 24px 24px 24px;
    }
}
@media (max-width: 768px) {
    .modal-inner
    {
        padding: 36px 20px 20px 20px;
        width: 100%;
        max-width: unset;
        border-radius: 0;
    }
}
.modal-close::after,
.modal-close::before
{
    content: "";
    display: block;
    height: .2rem;
    width: 2.2rem;
    background-color: #3C3C53;
    position: absolute;
    top: 50%;
    left: 50%;  
    transition: .3s
}

@media (max-width: 1200px) {
    .modal-close::after,
    .modal-close::before
    {
        content: "";
        height: 2px;
        width: 22px;
    }
}

.modal-close::after
{
    transform: translateX(-50%) translateY(-50%) rotate(45deg)
}
.modal-close::before
{
    transform: translateX(-50%) translateY(-50%) rotate(-45deg)
}

.modal-close:hover::after,
.modal-close:hover::before 
{
    background-color: #030304;
}